.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

schemes/**
sources/**
sources.*
base24_builder/**
base24-builder-python-portable/**
base24.py
